    <div class="row-fluid">
        <div class="span12">
            <div class="general-posts">
                <div class="user-info">
                    <a href="#">
                        <h1>nazwa strony</h1>
                        <img src="{{ asset("img/banner/banner2.jpg") }}" alt="" class="image-spacing">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="general-posts">
                <div class="user-info">
                    <a href="#">
                        <h1>nazwa strony</h1>
                        <img src="{{ asset("img/banner/banner2.jpg") }}" alt="" class="image-spacing">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="general-posts">
                <div class="user-info">
                    <a href="#">
                        <h1>nazwa strony</h1>
                        <img src="{{ asset("img/banner/banner2.jpg") }}" alt="" class="image-spacing">
                    </a>
                </div>
            </div>
        </div>

    </div>
