{% extends 'base.html.twig' %}
{% block body %}

    <hr>
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h1>O mnie</h1>
                <div>Czesc, nazywam sie Michał Materniak. Wlasnie zrobilem pierwsza strone internetowa, swoj wlasny blog ;)W
                    symfony3 ;) w PHP.
                </div>

            </div>

        </div>



    </div>
{% endblock %}