
<div class="span4">
    <div class="row-fluid">
        <div class="span12">
            <div class="general-posts">
                <div class="user-info">
                    <h1>Tytuł Nagłówek</h1>
                    <img src="{{ asset("img/img1.png") }}" alt="" class="image-spacing">
                    <p class="no-space">Wstep do TresciWstep do TresciWstep do TresciWstep do TresciWstep do TresciWstep do TresciWstep do TresciWstep do TresciWstep do TresciWstep do TresciWstep do Tresci</p>
                </div>
                <div class="read-more">
                    <a href="#">Czytaj wiecej ;)<i class="fw-icon-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
